<!DOCTYPE html>
<html>
  <head>
  <style>
h1 {color:gray;}
p {color:gray;}
</style>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <center><body>
    <h1>Tiene  una solicitud de CAJA de </h1> 
    <p>
      Codigo : </p>
      <tr>
         <td><%= @box.codigo %></td><br>
        <p>
      Lugar : </p>
        <td><%= @box.ubicacion %></td><br>
        <p>
      Sector : </p>
        <td><%= @box.sector.nombre %></td><br>
       </tr>
    <br><br><br><br><br><br><br><br>
    <p>Saludos gestorBox</p>  

  </body></center>

</html>


