
<center>
<p id="notice"><%= notice %></p>

<br></br>
<table class="table ">
  <thead>
    <tr>
      <th style="width: 400px"></th>
      <th colspan="234"></th>
       
    </tr>

  </thead>
  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td > <h2><%= box.codigo %></h2></td>
         <td><%= image_tag "#{box.codigo}_barcode.png" %>  
        </td>
        <td>
      
      </tr>

    <% end %>
  </tbody>
</table>
<br>
</center>
