<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> 
<!-- Tema opcional -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<!-- Versión compilada y comprimida del JavaScript de Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<center>
<p id="notice"><%= notice %></p>
<h1>Etiquetas</h1>
<br></br>
<table class="table ">
  <thead>
    <tr>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @boxes.each do |box| %>
      <tr>
        <td> <h2><%= box.codigo %></h2></td>
        <td><%= image_tag "#{box.codigo}_barcode.png" %> <td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</center>
