
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sistema de archivos</title>
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
 
    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
 <div class="page-header">
 
  <h1> Gestor Box  <small>Sistema de administracion de archivos</small></h1>
</div>

    <div class="container">
  
    <%= image_tag("logoGestorBox.jpg", :alt => "rss feed") %> 
  
    <br><br><br>
  
  
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Informacion</button>
  <div id="demo" class="collapse"   style=" font-size:15px">
  	<br></br>
    Sistema diseñado con el objetivo de lograr una administracion automatica.<br> Dicha herramienta cuenta con funciones de  busqueda de archivos por distintos criterios al igual que poder organizar los espacios disponibles del sector archivos,  logrando de esta forma una organizacion de los mismos.

  </div> 
</div>


  </body>
</html>